.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 25px;
}
h1{
	text-align: center;
	color: midnightblue
}
li{
	float: left;
	padding-right: 81px;
	padding-left: 81px;
	padding-top: 15px;
	background-color: lightsteelblue;
	height: 40px;
	color: midnightblue
}
a{
	text-decoration: none;
	color: midnightblue	
}
#cal{
	background-color: lightsteelblue;
}
h3{
	color: midnightblue
}
#dj{
	background-color: lightsteelblue
}