h1{
	text-align: center;
	margin-top: 40px;
	color: rosybrown;
}
h3{
	text-align: center;
	color: rosybrown;
}
img{
	display: block;
	margin: auto;
	width: 200px;
	height: 150px;
	border-radius: 20px;
	border:3px solid;
}
p{
	margin-left: 10px;
	margin-right: 10px;
}
.zov{
	border:1px solid;
	margin: auto;
	width: 1000px;
	height: 1525px;
}
.firstokno{	
	border:1px solid;
	width: 400px;
	height: 400px;
	float: left;
	margin-left:70px;
	margin-top: 50px; 
	margin-right: 56px;
	border-radius: 20px;
	overflow: auto;
}
.secondokno{
	border:1px solid;
	width: 400px;
	height: 400px;
	float: left;
	margin-right: 70px;
	margin-top: 50px;
	border-radius: 20px;
	overflow: auto
}
.thirdokno{
	border:1px solid;
	width: 400px;
	height: 400px;
	float: left;
	margin-right: 56px;
	margin-left:70px; 
	margin-top: 50px;
	border-radius: 20px;
	overflow: auto
}
.fouokno{
	border:1px solid;
	width: 400px;
	height: 400px;
	float: left;
	margin-right: 70px;
	margin-top: 50px;
	border-radius: 20px;
	overflow: auto
}
.fiveokno{
	border:1px solid;
	width: 400px;
	height: 400px;
	float: left;
	margin-left: 70px;
	margin-top: 50px;
	margin-right: 56px;
	margin-bottom: 50px;
	border-radius: 20px;
	overflow: auto
}
.sixokno{
	border:1px solid;
	width: 400px;
	height: 400px;
	float: left;
	margin-right: 70px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 20px;
	overflow: auto
}
.but{
	float: right;
	margin-right: 40px;
	border:1px solid; 
	margin-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: rosybrown;
	border-radius: 10px;
	border-color: rosybrown;
}
a{
	text-decoration: none;
	color:peachpuff;
	
}
span{
	background-color: peachpuff;
}
.butt{
	text-align: center;
}